HeaderName /HEADER.html
IndexIgnore HEADER* licenses

RewriteEngine On

## Let internal hosts through always.
# android-build.linaro.org.
RewriteCond %{REMOTE_ADDR} 50.17.250.69 [OR]
# validation.linaro.org.
RewriteCond %{REMOTE_ADDR} 213.123.120.124
RewriteRule .* - [L]

## If license file is requested, and a download has been requested previously,
## pass through to the license file.
# Samsung.
RewriteCond %{REQUEST_URI} /licenses/samsung-v2.html$
RewriteCond %{HTTP_COOKIE} downloadrequested
RewriteCond %{HTTP_COOKIE} !samsunglicenseaccepted-v1=true
RewriteRule .* - [L]
# ST-E.
RewriteCond %{REQUEST_URI} /licenses/ste.html$
RewriteCond %{HTTP_COOKIE} downloadrequested
RewriteCond %{HTTP_COOKIE} !stelicenseaccepted-v1=true
RewriteRule .* - [L]

## When license files are requested directly, forward to
## the snapshots.l.o site itself.
RewriteCond %{REQUEST_URI} /licenses/samsung-v2.html$ [OR]
RewriteCond %{REQUEST_URI} /licenses/ste.html$ [OR]
RewriteCond %{REQUEST_URI} /licenses/nolicense.html$
RewriteCond %{HTTP_COOKIE} !downloadrequested=(.*)
RewriteRule .* / [R,L]

## If there is a cookie indicating license has been accepted, pass through.
# Samsung.
RewriteCond %{HTTP_COOKIE} samsunglicenseaccepted-v1=true
RewriteCond %{REQUEST_URI} ^/android/.*origen.*
RewriteRule .* - [L]
# ST-E.
RewriteCond %{HTTP_COOKIE} stelicenseaccepted-v1=true
RewriteCond %{REQUEST_URI} ^/android/.*snowball.*
RewriteRule .* - [L]
# Ubuntu ST-E.
RewriteCond %{HTTP_COOKIE} stelicenseaccepted-v1=true
RewriteCond %{REQUEST_URI} ^/oneiric/.*snowball.*
RewriteRule .* - [L]

## When license is accepted, set the cookie.
# Samsung.
RewriteCond %{REQUEST_URI} licenses/samsung-accepted.html$
RewriteCond %{HTTP_COOKIE} downloadrequested=([^\;]*\/)([^/\;]*)
RewriteRule .* %1%2 [CO=samsunglicenseaccepted-v1:true:.%{HTTP_HOST}:5:%1,R,L]
# ST-E.
RewriteCond %{REQUEST_URI} licenses/ste-accepted.html$
RewriteCond %{HTTP_COOKIE} downloadrequested=([^\;]*\/)([^/\;]*)
RewriteRule .* %1%2 [CO=stelicenseaccepted-v1:true:.%{HTTP_HOST}:60:%1,R,L]

## When license is being declined, show the notice that you have to accept it.
# Samsung.
RewriteCond %{REQUEST_URI} licenses/samsung-declined.html$
RewriteCond %{HTTP_COOKIE} downloadrequested=(.*)
RewriteRule .* /licenses/nolicense.html [L]
# ST-E.
RewriteCond %{REQUEST_URI} licenses/ste-declined.html$
RewriteCond %{HTTP_COOKIE} downloadrequested=(.*)
RewriteRule .* /licenses/nolicense.html [L]

## Pass through any non-protected dirs.
RewriteCond %{REQUEST_URI} !^/android/.*origen.*
RewriteCond %{REQUEST_URI} !^/android/.*snowball.*
RewriteCond %{REQUEST_URI} !^/oneiric/.*snowball.*
RewriteRule .* - [L]

## Redirect to the license file protected builds.
# Samsung.
RewriteCond %{REQUEST_URI} ^/android/.*origen.*$
RewriteRule .* /licenses/samsung-v2.html [CO=downloadrequested:%{REQUEST_URI}:.%{HTTP_HOST},R,L]
# ST-E.
RewriteCond %{REQUEST_URI} ^/oneiric/.*snowball.* [OR]
RewriteCond %{REQUEST_URI} ^/android/.*snowball.*
RewriteRule .* /licenses/ste.html [CO=downloadrequested:%{REQUEST_URI}:.%{HTTP_HOST},R,L]
