Django==1.11.20
IP2Location
beautifulsoup
boto
django-openid-auth
html2text
mock
pep8
psycopg2==2.7.4
pyOpenSSL
pyflakes
python-openid
requests
testrepository
textile
whitenoise==5.0
gunicorn==19.7.1
gevent
