Django==1.11.20
IP2Location
beautifulsoup
boto
html2text
mock
pep8
psycopg2==2.7.4
pyOpenSSL
pyflakes
requests
testrepository
textile
whitenoise==4.1.4
django-filter==1.1
python-ldap==3.3.1
django-auth-ldap==1.6.1
