<html>
<head>
  {% load static %}
  {% if dl != None %}
    <meta http-equiv="REFRESH" content="0;url={{ dl }}">
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{site_name}}</title>
  <link href="//www.linaro.org/remote/css/init.css"
        rel="stylesheet" type="text/css" >
  <link href="//www.linaro.org/remote/css/remote.css"
        rel="stylesheet" type="text/css" >
  <script language="javascript" type="text/javascript"
          src="//www.linaro.org/remote/js/linarofamily.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.7.2.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.23.custom.min.js' %}"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/jquery-ui-1.8.23.custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/linaro.css' %}">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
  <style type="text/css">
    div#footer {
      text-align: right;
      margin: 10px;
      padding: 10px;
      width: 75%;
    }
  </style>

  {% include 'google-analytics.html' %}
</head>
<body>
<div id="head">
  <h1>{{site_name}}</h1>
</div>
<div id="content">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  Running <a href="https://git.linaro.org/infrastructure/linaro-license-protection.git">linaro-license-protection</a> <a href="https://git.linaro.org/infrastructure/linaro-license-protection.git/commit/{{ revno }}">{{ revno }}</a>.
</div>
</body>
</html>
