<html>
<head>
  {% if dl != None %}
    <meta http-equiv="REFRESH" content="0;url={{ dl }}">
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Linaro Snapshots</title>
  <link href="/get-remote-static?name=init.css"
        rel="stylesheet" type="text/css" >
  <link href="/get-remote-static?name=remote.css"
        rel="stylesheet" type="text/css" >
  <script language="javascript" type="text/javascript"
          src="/get-remote-static?name=linarofamily.js"></script>
  <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui/jquery-ui-1.8.23.custom.css">
  <link rel="stylesheet" type="text/css" href="/css/linaro.css">
  <style type="text/css">
    div#footer {
      text-align: right;
      margin: 10px;
      padding: 10px;
      width: 75%;
    }
  </style>

  {% include 'google-analytics.html' %}
</head>
<body>
<div id="head">
  <h1>Linaro Snapshots</h1>
</div>
<div id="content">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  Running <a href="https://git.linaro.org/infrastructure/linaro-license-protection.git">linaro-license-protection</a> <a href="https://git.linaro.org/infrastructure/linaro-license-protection.git/commit/{{ revno }}">{{ revno }}</a>.
</div>
</body>
</html>
