<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  {% block header %}{% endblock %}
  {% include 'google-analytics.html' %}
</head>
<body>
  {% block content-header %}{% endblock %}
  {{ license.text|safe }}
  {% block content-footer-top %}{% endblock %}
  <form action="/accept-license?lic={{ license.digest }}&url={{ url }}" method="post">
    {% csrf_token %}
    <input class="button button-accept" type="submit" value="Accept"
           name="accept"
           onclick="javascript:trackDownload('License Accepted', '{{ url }}');"
           />
    <input class="button button-decline" type="submit" value="Reject"
           name="reject"
           onclick="javascript:trackDownload('License Rejected', '{{ url }}');"
           />
  </form>
  {% block content-footer-bottom %}{% endblock %}
</body>
</html>
