<html>
<head>
  {% if dl != None %}
    <meta http-equiv="REFRESH" content="0;url={{ dl }}">
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Linaro Releases</title>
  <link rel="stylesheet" type="text/css" href="resources/css/ext-all.css" />
  <link href="http://www.linaro.org/remote/css/init.css" rel="stylesheet" type="text/css" >
  <link href="http://www.linaro.org/remote/css/remote.css" rel="stylesheet" type="text/css" >
  <script language="javascript" type="text/javascript" src="http://www.linaro.org/remote/js/linarofamily.js"></script>
  <style>
    div#footer {
      text-align: right;
      margin: 10px;
      padding: 10px;
      width: 75%;
    }
  </style>
</head>
<body>
<div id="head">
  <h1>Linaro Releases</h1>
</div>
<div id="content">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  Running <a href="https://launchpad.net/linaro-license-protection">lp:linaro-license-protection</a> r{{ revno }}.
</div>
</body>
</html>
